@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #FEFED5;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Titillium Web', 'Arial', 'Lucida Sans', sans-serif;
    padding: 35px;
    border-radius: 5px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: white;
}

body {
    background-color: #060B0F;
    font-family: 'Titillium Web', 'Arial', 'Lucida Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #060B0F;
}

nav a:hover {
    color: black;
    background-color: #FEFED5;
    padding: 5px 30px;
}

#background {
    background-color: white;
}

.msg {
    background-color: #060B0F;
    line-height: 1.5em;
    padding: 35px;
    margin: 200px 0;
}

footer {
    background-color: #060B0F;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #FEFED5;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.radical_xp_icon {
    width: 80px;
    border-radius: 25%;
}

.home-title {
    color: white;
    font-family: 'Titillium Web', 'Arial', 'Lucida Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: white;
}

.book, .join {
    color: black;
    background-color: #FEFED5;
    text-decoration: none;
    font-family: 'Titillium Web', 'Arial', 'Lucida Sans', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-family: "Titillium Web";
    font-size: .8em;
    padding-bottom: 15px;
}

main h2 {
    color: white;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #FEFED5;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    margin-top: 50px;
}